
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #231f20;
  text-align: center;
}
.header-title {
  margin: 8px;
  padding: 5px;
  background-color: #fcce00bd;
  color: #ffffff;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  font-size: 88px;
}

.header-subtitle {
  margin: 8px;
  padding: 5px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.header-stripe {
  margin: 8px;
}

.header-stripe--red {
  height: 32px;
  background-color: #e02020bd;
}
.header-stripe--purple {
  height: 16px;
  background-color: #b620e0bd;
}

.header-stripe--blue {
  height: 8px;
  background-color: #6236ffbd;
}

.title1 {
  margin: 64px;
  font-size:40px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #231f20;
}

.bloc-title {
  margin-bottom: 34px;
  margin-right: 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.bloc-text {
  margin-top: 34px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 48px;
  font-size: 16px;
  text-align: justify;
}


.ordi1 {
  display: block;
  mix-blend-mode: darken;
  margin-left: auto;
  margin-top: 40px;
}
.colonnes1 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 86px;
}

.bloc {
  flex-basis: 0;
  flex-grow: 1;
}
.bloc2 {
background-image: url(../img/bg-yellow.svg);
}
.bouton1 {
  width: 185px;
  height: 48px;
  margin: 30px 32px 22px 0px;
  padding: 10px 36px 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  color: #fcce00;
  font-size: 20px
}
.bouton {
  text-align: right;
}

.colonnes2 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 86px;
}
.autre-bloc {
  flex-basis: 0;
  flex-grow: 1;
}

.orange {
  margin: auto;
}

.degorange {
  background-image: url(../img/bg-orange.svg);
}

.titre2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.bouton2 {
  width: 185px;
  height: 48px;
  margin: 30px 32px 22px 0px;
  padding: 10px 36px 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  color: #ff6b00;
  font-size: 20px
}

.blanc1 {
  font-weight: 900;
  font-size:32px;
  color: #ffffff;
}

.blanc2 {
  font-size:24px;
  color: #ffffff;
  margin-bottom: 32px;
}

.bouton3 {
  width: 185px;
  height: 48px;
  padding: 7px 24px 7px 23px;
  border-radius: 15px;
  border: solid 4px;
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;

}

.partie3 {
  background-image: url(../img/bg-red.svg);
}
.bloc1 {
  text-align: left;
}
.autrecta {
  margin-top: 32px;
}

.partie4 {
  background-image: url(../img/bg-violet.svg);
}

.autre {
  margin-bottom: 0px;
}

.colonnes3 {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.ecran {
  margin-bottom: 48px;
}

.partie5 {
  background-image: url(../img/bg-blue.svg);
}

.part2 {
  margin-left: 60px;
}
.lasttitle {
  font-size:40px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 64px;
}

.fond-noir{
  background-color: black;
  padding-top: 64px;
}

.grid-jeux{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.jeux-video{
  position: relative;
}

.grid-image{
  line-height:0;
  overflow: hidden;
  border-radius:20px;
}

.grid-image img{
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform:scale(1.1);
}

.effet-jeux {
  font-size: 1.5em;
  font-weight: bold;
  z-index: 1;
  position:absolute;
  height:100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
